#canvas {
  position: fixed;
  width: 1000px;
  height: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #555;
  z-index: 1000;
}

.line_vertical {
  position: fixed;
  height: 500px;
  width: 0.75px;
  background-image: linear-gradient(#444 0%, black 50%, #444 100%);
  z-index: 1000;
}

.line_horizontal {
  position: fixed;
  width: 1000px;
  height: 0.75px;
  background-image: linear-gradient(90deg, #444 0%, black 50%, #444 100%);
  z-index: 1000;
}

#mc {
  height: 20px;
  width: 20px;
  background-color: #adf;
  position: fixed;
  z-index: 500;
}

.attack {
  background-color: #faa;
  height: 20px;
  width: 20px;
  position: fixed;
  display: none;
}

#aLeft,
#aRight {
  width: 40px;
}

#aLeft {
  transform: translateX(-100%);
}

#aRight {
  transform: translateX(50%);
}

#aUp,
#aDown {
  height: 40px;
}

#aUp {
  transform: translateY(-100%);
}

#aDown {
  transform: translateY(50%);
}

#aRound {
  display: none;
}

#aTopRight {
  display: block;
  transform: translate(-100%, -100%);
}

#aTopLeft {
  display: block;
  transform: translate(100%, -100%);
}

#aBotRight {
  display: block;
  transform: translate(100%, 100%);
}

#aBotLeft {
  display: block;
  transform: translate(-100%, 100%);
}

.charge {
  background-color: black;
  position: fixed;
}

.warnV {
  background-color: #777;
  position: fixed;
  width: 10px;
  height: 500px;
  top: 0px;
  opacity: 0;
}

.warnH {
  background-color: #777;
  position: fixed;
  width: 1000px;
  height: 10px;
  left: 0px;
  opacity: 0;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.killV {
  background-color: black;
  position: fixed;
  width: 20px;
  height: 500px;
  top: 0px;
  opacity: 0;
}

.killH {
  background-color: black;
  position: fixed;
  width: 1000px;
  height: 20px;
  left: 0px;
  opacity: 0;
}

.black {
  position: fixed;
  background-color: black;
  width: 20px;
  height: 20px;
}

.square {
  position: fixed;
  width: 20px;
  height: 20px;
}

.r1 {
  background-color: #f44;
}

.r2 {
  background-color: #e72;
}

.r3 {
  background-color: #ea0;
}

.b1 {
  background-color: #0af;
}

.b2 {
  background-color: #57f;
}
